<section id="about-page" class="row">
	
	<div class="small-3 columns">
		<div class="panel profile">
			<a href="http://facebook.com/558897400" itemscope="" itemtype="http://data-vocabulary.org/Person" target="_blank">
				<div class="thumbnail">
					<img itemprop="photo" src="http://graph.facebook.com/558897400/picture?width=200&amp;height=200" alt="Luis Carlos Osorio Jayk" title="Luis Carlos Osorio Jayk" class="img-circle">
					<h4 itemprop="name">Luis Carlos Osorio Jayk</h4>
				</div>
			</a>
		</div>
	</div>
	
	<div class="small-9">
		<p>Wheru is a demostrative app for showing implementation of <a class="green" href="http://foursquare.com">FourSquare API</a>,
		<a class="green" href="http://leaflet.com">Leaflet API</a>, <a class="green" href="http://angularjs.com">AngularJS</a>, and 
		<a class="green" href="http://foundation.zurb.com">Foundation</a>. It basically display trending places on a map.
		</p>
	</div>
	
</section>